::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: blue;
}

::-webkit-scrollbar-track {
  background-color: lightblue;
}

.sub{
  background-color: rgba(0, 0, 0, 0.376);
}

.loader{
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}

.mainProfile {
  display: none;
  width: 320px;
  max-height: 470px;
}

.showBtn:focus + .mainProfile {
  display: block;
}

.mainProfile:hover {
  display: block;
}

.card {
  padding: 2em;
}

.fullPage {
  display: flex;
}

.about {
  margin: 0rem 4rem 4rem 4rem;
  padding: 3rem;
}

.logHead {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
}

#formin {
  background-color: #f3f4f6;
}

.image{
  display: flex;
  justify-content: center;
}

.alert{
  width: 22rem;
}

@media (max-width: 600px) {
  .fullPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .loginForm,
  .signuoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }

  #formin {
    background: url(./assets/img/in.svg);
    background-repeat: no-repeat;
    background-position:right top ;
    background-size: 100%;
  }

  #formup {
    background: url(./assets/img/up2.svg);
    background-repeat: no-repeat;
    background-position: left ;

    background-size: 100%;
  }

  input[type="email"],
  input[type="password"] {
    background: transparent;
  }

  input[type="email"]::placeholder {
    color: black;
  }
  input[type="password"]::placeholder {
    color: black;
  }

  .mainProfile {
    width: 270px;
    max-height: 470px;
  }

  .about {
    margin: 1rem;
    padding: 1rem;
  }

  .logHead {
    font-size: 1.15rem;
    line-height: 1.65rem;
  }
  .no {
    justify-content: center;
  }
  .navLogo {
    display: none;
  }
  .navLi {
    width: 100%;
  }
  .navButton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .image {
    display: none;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .alert{
    width: 13rem;
  }

}

.cards{
  display: flex;
  gap: 18px;
}

